.itemListWrap {
	display: flex;
	flex-direction: column;
	row-gap: 96px;
	padding-bottom: 30px;
	min-height: 600px;

	@media screen and (max-width: 650px) {
		padding-top: 30px;
		row-gap: 32px;
	}
}

.itemList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(0, 424px));
	grid-auto-rows: 300px;
	row-gap: 96px;
	column-gap: 76px;
	z-index: 2;
	justify-content: center;

	@media screen and (max-width: 650px) {
		justify-content: center;
		grid-auto-rows: auto;
		row-gap: 32px;
	}
}
