.rating {
	display: flex;
	gap: 6px;
	align-items: center;
}

.stars {
	display: flex;
	gap: 1px;
}

.reviews {
	color: var(--color-gray);
	font-family: var(--font-open);
	font-size: 10px;
	font-weight: 400;
}
