.container {
	transition: transform 1.5s ease-in-out 0.1s;
	display: flex;
}

.slide {
	width: 100%;
	position: relative;
}

.slideHidden {
	opacity: 0;
	width: 0;
}

.slideImage {
	position: relative !important;
}
