.headerButton {
	cursor: pointer;
	position: relative;
}

.buttonCounter {
	background-color: #ff353a;
	color: #fff;
	font-size: 10px;
	font-weight: 500;
	text-transform: capitalize;
	min-width: 13px;
	height: 13px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: -1px;
	right: -4px;
	position: absolute;
}
