.info {
	padding: 49px 0 48px 36px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: space-between;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 4px;

	.authors {
		@mixin textGray 10px;
		text-transform: capitalize;
		line-height: 12px;
	}

	.title {
		@mixin textBlack 16px;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		overflow: hidden;
	}

	.description {
		@mixin textGray 10px;
		text-transform: capitalize;
		text-overflow: ellipsis;
		line-height: normal;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}
}

.price {
	@mixin textBlack 13px;
	text-transform: uppercase;
}

.cartButton {
	@media screen and (max-width: 650px) {
		width: 100%;
	}
}
