.book {
	display: grid;
	grid-template-columns: 100px 1fr;

	@media screen and (max-width: 950px) {
		margin-bottom: 16px;
	}
}

.bookImageWrap {
	box-shadow: 0px 24px 36px 0px rgba(53, 49, 84, 0.28);
	max-height: 145px;
	min-height: 145px;
	position: relative;
	overflow: hidden;
}
