.nav {
	display: flex;
	gap: 20px 40px;
	justify-content: space-between;
	color: var(--color-gray);
	flex-wrap: wrap;

	@media screen and (max-width: 768px) {
		order: 1;
		flex-basis: 100%;
		justify-content: start;
	}
}

.navItem {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
	letter-spacing: 0.2px;
}

.navItem:hover,
.navItem:global(.active) {
	color: var(--color-black);
	letter-spacing: 0;
	font-weight: 900;
}
