.cartTable {
	display: flex;
	flex-direction: column;
	gap: 60px;
	padding-bottom: 60px;

	@media screen and (max-width: 950px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	@media screen and (max-width: 650px) {
		grid-template-columns: 1fr;
	}
}

.total {
	display: flex;
	flex-direction: column;
	gap: 19px;

	@media screen and (max-width: 414px) {
		align-items: center;
		text-align: center;
	}
}

.totalTitle {
	color: var(--color-black);
	font-size: 24px;
	font-weight: 700;
}
